[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "*"
python-crontab = "*"
cron-descriptor = "*"
croniter = "*"
loguru = "*"
humanize = "*"

[requires]
python_version = "3.7"
